@model InventoryUI.Models.Dtos.PurchasedStocksDtos.AddPurchasedStocksViewModel

<h1 class="mt-3">Buy Stocks</h1>
    <form method="post">
        <div class="mt-3">
            <label class="form-label">Quantity</label>
            <input type="text" class="form-control" asp-for="Quantity" />
        </div>
        <div class="mt-3 d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Buy</button>
        </div>
    </form>
